.img1{

    margin-left: 950px;
    margin-top: -30px;


}
    

.imgLogo{

    margin-top: 1px;
    margin left: 0px;
}

.img2{
    margin-top: 2px;
}

.img4{
    margin-left:600px;
    margin-top: -2100px;
    


}